# IDE configs
.vscode/**
.idea/**
*.iml
javaconfig.json
classpath.txt
tsconfig.json
tsd.json
*.xml

# Logs
*.log*

# Sources
typings/**
src/**
test/**
lib/**
!lib/javaconfig.schema.json
repo/**
scripts/**
build.sh

# Build tooling
node_modules
webpack.config.js

# Compiler output (old tsc output)
out/**

# Extensions
.gitignore
**/*.map

# Temporary, include after legal approval
open-source-licenses.txt
