name: Announce Release

on:
  workflow_dispatch:
    inputs:
      version:
        description: Release version (i.e. 4.20.1, 4.32.1.RELEASE, 4.22.1.M3)
        required: true
        type: string

jobs:

  notify:
    runs-on: ubuntu-latest
    steps:
      - name: Spring Tools Team GChat Notification
        run: |
          curl --location --request POST '${{ secrets.TOOLS_TEAM_GCHAT_WEBHOOK_URL }}' \
          --header 'Content-Type: application/json' \
          --data-raw "{
            "cardsV2": [
              {
                \"card\": {
                  \"header\": {
                    \"title\": \"Published STS ${{ inputs.version }}\",
                    \"imageUrl\": \"https://avatars.githubusercontent.com/u/317776?s=48&amp;v=4\",
                    \"imageType\": \"CIRCLE\",
                    \"imageAltText\": \"Avatar for STS\"
                  },
                  \"sections\": [
                    {
                      \"collapsible\": false,
                      \"widgets\": [
                        {
                          \"textParagraph\": {
                            \"text\": \"Successfully published <b>STS ${{ inputs.version }}</b> release\"
                          }
                        }
                      ]
                    }
                  ]
                }
              }
            ]
          }"
      - name: Announce Release on `Spring-Releases` space
        uses: spring-io/spring-release-actions/announce-on-gchat@36699a377c2fbd64107472178d373ab043e5c9d5 # 0.0.1
        with:
          version: ${{ inputs.version }}
          gchat-webhook-url: ${{ secrets.SPRING_RELEASE_GCHAT_WEBHOOK_URL }}
