name: Build VSCode Extension

on:
  workflow_call:
    inputs:
      extension-name:
        description: name of the extension, e.g. vscode-spring-cli
        required: true
        type: string
      dist:
        description: release, pre, snapshot
        required: false
        type: string
        default: snapshot

permissions:
  contents: write

env:
  AWS_ACCESS_KEY_ID: ${{ secrets.CDN_S3_ACCESS_KEY }}
  AWS_SECRET_ACCESS_KEY: ${{ secrets.CDN_S3_SECRET_KEY  }}
  AWS_DEFAULT_REGION: us-east-1
  AWS_ENDPOINT_URL_S3:  ${{ secrets.CDN_S3_ENDPOINT }}
  AWS_S3_BUCKET: ${{ secrets.CDN_BUCKET }}/spring-tools
  DOWNLOAD_URL_ROOT: https://cdn.spring.io/spring-tools

jobs:
  build-vscode-extension:
    runs-on: ubuntu-latest
    name: Build VSCode Extension '${{ inputs.extension-name }}'
    steps:
      - name: Checkout vscode-extensions code and workflow scripts
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # 6.0.2
      - name: Set up JDK 21
        uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # 5.2.0
        with:
          java-version: '21'
          distribution: 'temurin'
      - name: Build .VSIX file
        id: build-vsix
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          ${{ github.workspace }}/.github/scripts/build-vscode-extension.sh ${{ inputs.extension-name }} ${{ inputs.dist }}
          ls ./vsix
      - name: Upload VSIX
        id: upload-release
        if: ${{ inputs.dist == 'release' }}
        run: |
          pwd=`pwd`
          cd vscode-extensions/${{ inputs.extension-name }}
          base_version=`jq -r .version package.json`
          cd $pwd
          vsix_file=`ls ./vsix | head -n 1`
          echo "VSIX file to upload ${vsix_file}"
          s3_path=${{ inputs.dist }}/vscode-extensions/${{ inputs.extension-name }}/$base_version
          echo "S3 path: ${s3_path}"
          aws s3 rm s3://$AWS_S3_BUCKET/$s3_path/ --recursive
          aws s3 cp ./vsix/$vsix_file s3://$AWS_S3_BUCKET/$s3_path/$vsix_file --no-progress
          echo "version=$base_version" >> $GITHUB_OUTPUT
          echo "s3_url=${DOWNLOAD_URL_ROOT}/$s3_path/$vsix_file" >> $GITHUB_OUTPUT
