name: Changelog Draft

on:
  workflow_dispatch:
    inputs:
      release:
        description: Github release marker, i.e. 4.20.1.RELEASE
        required: true
        type: string

jobs:
  changelog:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout wiki code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # 6.0.2
        with:
          repository: ${{github.repository}}.wiki
      - name: Set up JDK 17
        uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # 5.2.0
        with:
          java-version: '17'
          distribution: 'temurin'
      - name: Download Changelog Generator
        run: |
          wget https://github.com/spring-io/github-changelog-generator/releases/download/v0.0.12/github-changelog-generator.jar
      - name: Push to wiki
        run: |
          changelog_filename=generated-changelog.md
          java -jar github-changelog-generator.jar --changelog.repository=spring-projects/spring-tools ${{ inputs.release }} ./${changelog_filename}
          cat $changelog_filename | cat - Changelog.md > new_Changelog.md
          mv new_Changelog.md Changelog.md
          cat Changelog.md
          
          
